page-todo-list {
  .todo-item {
    position: relative;

    &.done {
      text-decoration: line-through;
      background-color: #afafaf;
    }

    .todo-actions {
      .delete, .edit {
        position: absolute;
        top: -5px;
      }

      .delete{
        right: -5px;
      }

      .edit{
        right: 35px;
      }
    }
  }
}
